#inputs {
    width: 49%;
    float: left;
    padding-right: 5px;
    height: 100%;
}

#outputs {
    width: 49%;
    float: right;
    height: 100%;
}

#inputTable td,
#outputTable td {
    padding-left: 10px;
    padding-bottom: 3px;
}

#multiplier {
    margin: 6px;
    margin-left: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
}

#inputTable .status-error,
#outputTable .status-error {
    color: red;
    font-weight: bold;
}