#resultContainer{
    height: 300px;
}

#filterFields {
    width: 20%;
    float: left;
    padding-right: 5px;
    height: 100%;
}

#resultObjects {
    width: 78%;
    height: initial;
    float: right;
}

.filterItem {
    padding-left: 6px;
}

.message {
    background: grey;
    color: white;
    font-weight: 800;
    padding: 4px;
}

.error.message {
    background: red;
    color: white;
    font-weight: 800;
    padding: 4px;
}

.success.message {
    background: green;
    color: white;
    font-weight: 800;
    padding: 4px;
}

#dialogMessage {
    align-content: center;
    border-radius: 5px;
    padding-left: 10px;
}