/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.HLA-decorator {
  min-width: 90px;
  min-height: 40px;
  border: 1px solid black;
  background-color: white;
  text-align: center; } 
  .HLA-decorator .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 17px 0 17px; }
  .HLA-decorator .type {
    white-space: nowrap;
    font-size: 11px;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #000000;
    padding: 0 17px 0 17px; }
  .HLA-decorator .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 10;
    margin-left: -6px;
    left: 50%; }
    .HLA-decorator .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .HLA-decorator .connector.top {
      top: -6px; }
    .HLA-decorator .connector.bottom {
      bottom: -6px; }
  .HLA-decorator .parameters,
  .HLA-decorator .attributes{
    font-size: 10px;
    min-height: 1px;
    margin-bottom: 0;
    padding: 0 3px 0 3px; }
    .HLA-decorator .parameters li div,
    .HLA-decorator .attributes li div{
        white-space: nowrap;
        position: relative;
        height: 16px;
        line-height: 16px; }
      .HLA-decorator .parameters li div:hover,
      .HLA-decorator .attributes li div:hover{
          cursor: pointer;
          background-color: #eeeeee; }
      .HLA-decorator .parameters li div .n,
      .HLA-decorator .attributes li div .n{
          float: left;
          margin-right: 3px;
          max-width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;}   
      .HLA-decorator .parameters li div .t,
      .HLA-decorator .attributes li div .t{
          float: right;
          text-align: right; } 
  .HLA-decorator .parameters-title,
  .HLA-decorator .attributes-title {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #f3f3f3;
    color: black;
    line-height: 13px;
    position: relative; }

.selected .HLA-decorator {
  border: 1px solid #52a8ec;
  background-color: #dbeafc; }
